
@use "@picocss/pico/scss/pico" with (
  $theme-color: "zinc"
);

:root,:host {
  --pico-font-family-sans-serif: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif; font-weight: normal;
  --pico-font-family: var(--pico-font-family-sans-serif);
  --pico-font-size: 13px;
  --pico-nav-breadcrumb-divider: "/";
}


.page-header{
  box-shadow: 0 0 5px 2px #dddddd;
  margin-bottom: 2em;
}

.page-footer{
  & p {color: var(--pico-secondary);}
}